header {
  width: 100%;
  background-color: #070504;
}

.header__content {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  color: #fff;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 5px;
}
