* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(rgba(51, 51, 51, 0.7), rgba(51, 51, 51, 0.7)),
    url('../images/background.jpg') fixed;
  background-size: cover;
}

.wrap {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
}

.info-row {
  margin-top: 25px;
}

.info-block {
  padding: 7px;
  border-radius: 5px;
  height: auto;
  min-height: 100px;
  overflow: hidden;
}

.flex-column {
  flex-direction: column;
}
