.projects {
  background-color: rgb(18, 66, 78);
  display: flex;
  flex-direction: column;
}

@media (min-width: 1280px) {
  .projects {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media (max-width: 1280px) {
  .projects {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 650px) {
  .projects {
    padding-left: 10px;
    padding-right: 10px;
  }
}
