@import '../variables.scss';

.education__item {
  padding: 5px;
  border-bottom: 1px solid $border_color;
  position: relative;

  & + & {
    margin-top: 3px;
  }
}

.education__institution {
  font-size: 18px;
  width: 70%;
  color: $mainText_color;
}

.education__speciality {
  color: $detailText_color;
}

.education__year {
  position: absolute;
  top: 35%;
  right: 5px;
  font-size: 12px;
  font-style: italic;
  color: $year_color;
}
