@import 'variables.scss';
@import 'mixins.scss';

.block-info {
  @include displayFlexCenter(row);
  width: 30%;
  height: auto;
  overflow: hidden;
}

.block-info__title {
  @include displayFlexCenter(row);
  width: 100%;
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 3px;
}

.block-info__logo {
  margin: 10px 0;
  img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 535px) {
  .block-info__logo img {
    width: 80px;
    height: 80px;
  }

  .block-info {
    min-width: 80px;
    padding-left: 5px;
    padding-right: 15px;
  }
}
