@import 'variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient($contentBg_color, $contentBg_color),
    url('../images/background.jpg') fixed;
  background-size: cover;
}

.wrap {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
}

.info-row {
  margin-top: 25px;
}

.info-block {
  padding: 7px;
  border-radius: 5px;
  height: auto;
  min-height: 100px;
  overflow: hidden;
}

.flex-column {
  flex-direction: column;
}
