$contentBg_color: rgba(51, 51, 51, 0.7);
$headerBg_color: #070504;
$block_bgcolor: rgb(18, 66, 78);
$mainText_color: rgb(218, 218, 218);
$detailText_color: rgb(63, 204, 134);
$year_color: rgb(187, 255, 246);
$border_color: rgb(138, 138, 138);
